@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap");

:root {
  --color-main: #1e293b;
  --color-secundary: #111827;
  --color-terceary: #334155;
  --text-primary: #fff;
  --text-secundary: #888;
  --padding-container: 3.6rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1 rem = 10px*/
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--color-main);
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.parrafo {
  text-align: center;
  font-weight: 500;
  font-size: 1.3rem;
}

.btn {
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: var(--color-terceary);
  display: inline-block;
  text-align: center;
  padding: 0.8rem 1.8rem;
  width: 100%;
  font-size: 1.3rem;
  color: var(--text-primary);
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: var(--color-main);
  transform: scale(1.03);
}

/* ------------------------- Header ------------------------------- */
.header {
  background-color: var(--color-secundary);
  position: fixed;
  z-index: 100;
  width: 100%;
}

.header__container {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem var(--padding-container);
  transition: all 0.3s ease;
}

.header__container .logo img {
  width: 14rem;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.menu {
  background: var(--text-primary);
  border: 1px solid var(--color-main);
  border-radius: 0.5rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 4rem;
  position: relative;
  right: 0;
  z-index: 50;
  display: none;
  transition: all 0.3s ease;
}

.menu span {
  height: 0.2rem;
  width: 2rem;
  background: var(--color-terceary);
  display: inline-block;
  position: relative;
}

.menu span::before {
  content: "";
  height: 0.2rem;
  width: 2rem;
  background: var(--color-main);
  position: absolute;
  top: -6px;
  left: 0;
}

.menu span::after {
  content: "";
  height: 0.2rem;
  width: 2rem;
  background: var(--color-main);
  position: absolute;
  top: 6px;
  left: 0;
}

.menu__open span {
  background-color: transparent;
}

.menu__open span::after {
  transform: rotate(45deg);
  top: 0;
}

.menu__open span::before {
  transform: rotate(-45deg);
  top: 0;
}

@media (max-width: 767px) {
  .menu {
    display: flex;
  }

  .aside {
    background: var(--text-primary);
    position: absolute;
    right: 0;
    width: 0;
    top: 0;
    min-height: 100vh;
    padding-top: 8rem;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .nav {
    flex-direction: column;
    padding: 0 7rem;
  }

  .nav li .btn {
    background-color: transparent;
    border: 1.5px solid var(--color-terceary);
    color: var(--color-terceary);
    font-size: 2rem;
    width: 15rem;
    padding: 1rem 0;
  }

  .aside__toggle {
    width: 83vw;
  }

  .menu__open {
    right: 70vw;
  }
}

@media (max-width: 576px) {
  .header__container {
    padding: 1.2rem;
  }

  .header__container .logo img {
    width: 12rem;
  }

  .menu {
    height: 2.5rem;
    width: 3rem;
  }

  .nav li .btn {
    width: 13rem;
    font-size: 1.6rem;
  }
}

/*---------------------------- Footer --------------------------*/

.footer {
  background: var(--color-secundary);
}

.footer__container {
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
  padding: 2.5rem var(--padding-container);
}

.footer__container .footer__info {
  flex: 1 1 75%;
  max-width: 75%;
  border-right: 2px solid var(--color-terceary);
}

.footer__container .footer__info ul {
  display: flex;
  flex-wrap: wrap;
}

.footer__container .footer__info ul li {
  padding: 0.7rem;
}

.footer__container .footer__info ul li a {
  color: var(--text-primary);
  font-size: 1.4rem;
  font-weight: 300;
}

.footer__container .footer__info ul li a:hover {
  text-decoration: underline;
  color: var(--text-secundary);
}

.footer__container .footer__reserved {
  padding-left: 1.3rem;
  flex: 1 1 25%;
  max-width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__container .footer__reserved span {
  color: var(--text-primary);
  font-size: 4rem;
  font-weight: bold;
}

.footer__container .footer__reserved p {
  color: var(--text-primary);
  font-size: 1.3rem;
  font-weight: 300;
}

.footer__container .footer__list ul li {
  width: calc(100% / 4);
  line-height: 1;
}

@media (max-width: 767px) {
  .footer__container {
    flex-direction: column-reverse;
  }

  .footer__container .footer__info {
    flex: 1 1 100%;
    max-width: 100%;
    border-top: 1px solid var(--text-secundary);
    border-right: none;
    padding-top: 1rem;
  }

  .footer__container .footer__reserved {
    flex: 1 1 100%;
    max-width: 100%;
    padding-left: 0;
    padding-bottom: 1rem;
  }
}

@media (max-width: 576px) {
  .footer__container {
    padding: 1.5rem;
  }

  .footer__container .footer__list ul li {
    width: calc(100% / 3);
  }

  .footer__container .footer__info ul li a {
    font-size: 1.2rem;
  }

  .footer__container .footer__reserved p {
    font-size: 1.2rem;
  }

  .footer__container .footer__reserved span {
    font-size: 3rem;
  }
}

/* ---------------------------------  Login ---------------------------------*/
.login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__container {
  width: 90rem;
  height: 50rem;
  margin: 0 auto;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: var(--text-primary);
}

.register__container {
  height: 55rem;
}

.login__info--container {
  flex: 1 1 50%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image__container {
  padding: 2rem;
  flex: 1 1 50%;
  max-width: 50%;
  background-color: rgba(24, 14, 14, 0.164);
}

.form {
  margin-top: 2.5rem;
  width: 65%;
}

.form p:first-child {
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.inputLogin {
  border: none;
  margin-bottom: 2rem;
  caret-color: var(--color-terceary);
  border-bottom: 1px solid var(--color-terceary);
  width: 100%;
  outline: none;
  font-size: 1.5rem;
}

.parrafo__alert {
  color: red;
}

.title {
  padding: 0 1.5rem;
  color: var(--color-terceary);
  margin: 0;
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.span {
  color: var(--text-secundary);
  font-weight: 500;
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .login__container {
    width: 50%;
  }

  .login__info--container {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .image__container {
    display: none;
  }
}

@media (max-width: 768px) {
  .login__container {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .inputLogin {
    font-size: 1.3rem;
  }
  .title {
    font-size: 2rem;
  }

  .btn {
    font-size: 1.2rem;
  }

  .parrafo {
    padding: 0 1.5rem;
    font-size: 1.2rem;
  }

  .login__container {
    width: 85%;
  }

  .form {
    width: 75%;
  }
}

/* -------------------------- ResetPassword -------------------------*/
.resetPass {
  min-height: 100vh;
  padding: 0 var(--padding-container);
  display: flex;
  align-items: center;
  justify-content: center;
}

.resetPass__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--text-primary);
  border-radius: 1rem;
  width: 50rem;
  padding: 3rem 2.5rem;
}

.resetPass__container img {
  width: 15rem;
}

.resetPass__container h2 {
  margin: 2rem 0;
  text-align: center;
  color: #334155;
}

.resetBtn {
  max-width: 25rem;
}

@media (max-width: 576px) {
  .resetPass__container img {
    width: 10rem;
  }
}

/* -------------------------- Perfil ------------------------------ */
.perfil {
  padding: 11rem 0 4rem;
}

.perfil__container {
  height: 50rem;
}

@media (max-width: 576px) {
  .perfil {
    padding: 12rem 0 5rem 0;
  }
}

/* ---------------------------  Home ---------------------------- */
.home__container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 4rem var(--padding-container) 4rem;
}

.home__categorias {
  padding-top: 6.1rem;
  border-bottom: 1px solid var(--color-secundary);
}

.home__categorias--list {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 120rem;
  margin: 0 auto;
  padding: 1.5rem var(--padding-container);
}

.home__categorias button {
  background: transparent;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--text-primary);
  border: none;
  cursor: pointer;
}

.home__categorias button:hover {
  color: var(--text-secundary);
  text-decoration: underline;
}

.home__noticias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.card {
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  background-color: var(--color-terceary);
}

.card__imagen span {
  display: block;
  text-transform: capitalize;
  color: var(--text-primary);
  padding: 0 2rem;
  text-align: end;
  font-weight: 300;
}

.card__container {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__action {
  padding-bottom: 1.2rem;
}

.card__action a {
  background: var(--color-secundary);
  display: inline-block;
  width: initial;
}

.card__content h3 {
  color: var(--text-primary);
  text-align: center;
  margin: 0;
  font-size: 1.8rem;
  font-weight: 900;
}

.card__content p {
  color: var(--text-primary);
  font-weight: 100;
  font-size: 1.3rem;
}

.card .card__imagen img {
  max-width: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.card .card__imagen img:hover {
  filter: brightness(100%);
}

.home__noticias .card:first-child {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.home__noticias .card:first-child img {
  width: 74.7rem;
  height: 50rem;
}
.home__noticias .card:first-child span {
  font-size: 1.3rem;
}
.home__noticias .card:first-child h3 {
  font-size: 4rem;
}
.home__noticias .card:first-child p {
  font-size: 2rem;
}
.home__noticias .card:first-child a {
  font-size: 1.8rem;
}

@media (max-width: 1023px) {
  .home__noticias {
    grid-template-columns: repeat(2, 1fr);
  }

  .home__noticias .card:first-child img {
    width: 95.1rem;
  }
}

@media (max-width: 767px) {
  .home__categorias {
    display: none;
  }
  .home__container {
    padding-top: 11rem;
  }
}

@media (max-width: 576px) {
  .home__container {
    padding: 1.2rem;
    padding-top: 8rem;
  }
  .home__noticias {
    grid-template-columns: 1fr;
  }
  .home__noticias .card .card__container h3 {
    margin-top: 1.8rem;
  }
  .home__noticias .card:first-child {
    grid-column: 1/1;
    grid-row: 1/1;
  }
  .home__noticias .card:first-child img {
    height: 100%;
    width: 100%;
  }

  .home__noticias .card:first-child h3 {
    font-size: 1.5rem;
  }
  .home__noticias .card:first-child p {
    font-size: 1rem;
  }
  .home__noticias .card:first-child a {
    font-size: 1rem;
  }
  .card .card__imagen img {
    width: 100%;
    height: 100%;
  }
  .home__noticias .card p {
    font-size: 1rem;
  }
  .home__noticias .card h3 {
    font-size: 1.5rem;
  }
  .home__noticias .card a {
    font-size: 1rem;
  }
}
